body{
  margin: 0;
  padding: 0;
}

.Cards{
  display:flex;
  justify-content: center;
  gap:20px;
}
.Cards:hover .card {
    transform: scale(0.95);
}

.Cards .card:hover {
    transform: scale(1);
}